$backgrounds: (red, $red, $white), (red-dark, $red-dark, $white), (red-light, $red-light, $white), (green, $green, $white), (green-dark, $green-dark, $white), (green-light, $green-light, $white), (grey, $grey, $blue), (blue, $blue, $white), (purple, $purple, $white), (yellow, $yellow, $blue), (orange, $orange, $white);

@each $color, $bgcolor, $forecolor in $backgrounds {
    .bg-#{$color} {
        background-color: $bgcolor;
        * {
            color: $forecolor;
        }
    }
    .#{$color} {
      color: $bgcolor;
    }
}

.colour-pallete {
    padding: 20px 0;
    @include container(90%);
    figure {
        @include span(1 of 4 0);
        figcaption {
            padding: 20px;
        }
    }
    pre {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        overflow: hidden;
        code {
            background-color: #fff;
            color:#333;
            display: inline-block;
            border: 1px solid darken(#fff, 10);
            margin-top: 5px;
            padding: 4px 10px;
        }
    }
}