// Heading Size as per UX
$h1size: 3em; 
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} { 
      font-size: $h1size;
      }
      $h1size: $h1size - 0.5;
}

#{headings()} {
  padding: 0;
  margin: 0;
}