@mixin backImage($image, $grDir: to bottom, $opStart: 0.7, $opEnd: 0.7, $bgPos: center center) {
    background: linear-gradient($grDir, rgba(46, 59, 78, $opStart), rgba(46, 59, 78, $opEnd)), url($image);
    background-repeat: no-repeat;
    background-position: $bgPos;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include breakpoint($desktop) {
        background-position: center top;
    }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}



@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin vertical-align($translate:-50%) {
    position: relative;
    top: 50%;
    -webkit-transform: translateY($translate);
    -ms-transform: translateY($translate);
    transform: translateY($translate);
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//animations -slide-down
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin box-sizing($box-model:border-box) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

//functions
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}


@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

//end animations mixins

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

$base-sizing: 16;

// convert px to em
@function px-to-em($px, $base: $base-sizing) {
    @return ($px / $base) * 1 + em;
}

// convert em to px
@function em-to-px($em, $base: $base-sizing) {
    @return ($em * $base) + px;
}

@mixin scroll-button($color: $white) {
  color: $color;
  border: 1px solid $color;
  padding: 15px;
  @include border-radius(50%);
  margin: 10px auto;
  display: inline-block;
  @include transition(all 0.5s ease-in-out);
  &:hover, &:focus {
    margin-top: 25px;
    background-color: $pepper-red;
    border-color: $pepper-red;
  }
}