$icon-color : #444;
$overlay : rgba(46, 59, 78, 0.75);

//Pepper Color Palate
$pepper-red           :   #DF0024;
$pepper-red-light	  :   #FF3224;
$pepper-red-dark	  :   #BE0024;

$pepper-green         :   #006845;
$pepper-green-light   :   #32866A;
$pepper-green-dark    :   #005545;

$pepper-grey          :   #D1D3D4;
$pepper-text		  :   #1A1A1A;

//Secondary Colours
$pepper-midnight-blue :   #253746;
$pepper-yellow        :   #FFD100;
$pepper-orange		  :   #ED8B00;
$pepper-purple		  :   #A83D72;

//Old Pepper Direct Color
$pepper-gold          :   #eac494;
$pepper-blue          :   #2f84a3;
$pepper-light-blue    :   #89c0d6;
$pepper-teal          :   #3285a3;
$pepper-teal-grey     :   #2f3d4a;
$pepper-light-grey    :   #f2eeeb;

$white                :   #fff;
$black                :   #000;
$print                :   #1A1A1A;
$pepper-steel         :   #5f6a7d;
$pepper-night-sky     :   #2e3b4e;
$pepper-ivory         :   #f2efec;
$pepper-grey-text     :   #1A1A1A;

//Color use in css scope
$red   			: $pepper-red;
$red-dark 		: $pepper-red-dark;
$red-light 		: $pepper-red-light;
$green 			: $pepper-green;
$green-dark 	: $pepper-green-dark;
$green-light 	: $pepper-green-light;
$grey			: $pepper-grey;
$blue 			: $pepper-midnight-blue;
$orange			: $pepper-orange;
$yellow			: $pepper-yellow;
$purple			: $pepper-purple;
$text-color     : $print;
$ivory          : $pepper-ivory;
$border-color   : #CCC;
$icon-grey      : #646464;

// Social Media Colors
$facebook-blue: #3b5998;
$twitter-blue: #4099FF;

// Typography
$base-font-size: px-to-em(14px);
$link-color-red-bg: $white;
$link-color-grey-bg: $print;
$link-hover-color-red-bg: $pepper-ivory;
$link-hover-color-grey-bg: $pepper-red;

//Font family
$fontfamily       :    "Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica, sans-serif;
$fontfamilyHL       :    "HelveticaNeueW10-45Ligh", Helvetica, sans-serif;
$fontfamilyHM       :    "HelveticaNeueW10-65Medi", Helvetica, sans-serif;

$normal : 300;
$bold   : 400;
$heavy  : 700;
 
$head-font : $normal 1.8rem/1.2em $fontfamily;
$head-font-hl : $normal 1.8rem/1.2em $fontfamilyHL;
$main-font : $normal 1rem/1.2em $fontfamily;
$navstep-font : $normal 0.85rem/0.95em $fontfamily;
$para-font : $normal 1.2rem/1.4em $fontfamilyHL;
$para-hero : $normal 1.8rem/1.4em $fontfamily;