<details class="component-summary" open>
  <summary><h2>Global Footer</h2></summary>
  <p>Contains 4 blocks - updates by farid</p>
  <ul class="css-classes">
    <li><h3>Main</h3></li>
    <li><code>.app-footer</code><span>use this class on master level with footer html tag</span></li>
    <li><h3>Additional Class</h3></li>
    <li><code>.example</code><span>any additonal class can be applied on top level at footer tag</span></li>
  </ul>
</details>

<footer class="app-footer">

  <section class="cta-bar">
    <div class="container">
      <h2>Get in touch with a loan lending specialist</h2>
      <menu class="cta-links">
        <ul>
          <li>
            <a tabindex="1" href="tel:137377">
              <i class="fa fa-phone"></i>
              <span class="link-text">Call us on 13 73 77</span>
            </a>
          </li>
          <li>
            <a tabindex="1" href="mailto:peppergroup@pepper.com.au">
              <i class="fa fa-envelope"></i>
              <span class="link-text">Email Us</span>
            </a>
          </li>
          <li>
            <a tabindex="1" href="#">
              <i class="fa fa-check-circle"></i>
              <span class="link-text">Pre-approval Tool</span>
            </a>
          </li>
        </ul>
      </menu>
    </div>
  </section>

  <section class="search-bar">
    <div class="container">
      <h2 class="hidden">Site search</h2>
      <menu class="social-links">
        <a tabindex="1" href="#"><i class="fa fa-facebook-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-twitter-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-youtube-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-google-plus-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-vimeo-square"></i></a>
      </menu>
      <form action="/search-results.html" method="GET">
        <fieldset class="search-box">
          <input type="search" placeholder="Search the site" tabindex="1"/>
          <button type="submit" tabindex="1"><i class="fa fa-search"></i></button>
        </fieldset>
      </form>
    </div>
  </section>

  <section class="site-map">
    <div class="container">
      <h2 class="hidden">Site map</h2>
      <nav>
        <ul>
          <li>
            <input class="sitemap-check" id="sitemap-menu-1" type="checkbox"/>
            <h5><label for="sitemap-menu-1">Our Services <i class="fa"></i></label></h5>
            <menu class="sitemap-menu">
              <a tabindex="1" href="#">Lending</a>
              <a tabindex="1" href="#">Asset servicing</a>
              <a tabindex="1" href="#">Property advisory</a>
              <a tabindex="1" href="#">Broker support</a>
              <a tabindex="1" href="#">Debt investing</a>
            </menu>
          </li>
          <li>
            <input class="sitemap-check" id="sitemap-menu-2" type="checkbox"/>
            <h5><label for="sitemap-menu-2">How we can help <i class="fa"></i></label></h5>
            <menu class="sitemap-menu">
              <a tabindex="1" href="#">Calculators</a>
              <a tabindex="1" href="#">Help center</a>
              <a tabindex="1" href="#">Customer service</a>
              <a tabindex="1" href="#">Hardship assistance</a>
            </menu>
          </li>
          <li>
            <input class="sitemap-check" id="sitemap-menu-3" type="checkbox"/>
            <h5><label for="sitemap-menu-3">About Us <i class="fa"></i></label></h5>
            <menu class="sitemap-menu">
              <a tabindex="1" href="#">The Pepper story</a>
              <a tabindex="1" href="#">Leadership</a>
              <a tabindex="1" href="#">Community</a>
              <a tabindex="1" href="#">Shareholder center</a>
              <a tabindex="1" href="#">Press releases</a>
              <a tabindex="1" href="#">Careers</a>
              <a tabindex="1" href="#">Privacy Policy</a>
            </menu>
          </li>
        </ul>
      </nav>
      <menu class="social-links">
        <a tabindex="1" href="#"><i class="fa fa-facebook-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-twitter-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-youtube-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-google-plus-square"></i></a>
        <a tabindex="1" href="#"><i class="fa fa-vimeo-square"></i></a>
      </menu>
    </div>
  </section>

  <section class="copyright">
    <div class="container">
      <h2 class="hidden">Copyright</h2>
      <small>
        Pepper Group Limited ABN 55 094 317 665; Australian Finance Services Licence 286655; Australian Credit Licence 286655
        Pepper Asset Finance Pty Ltd ACN 165 183 317; Australian Credit Licence 458899
        &copy; 2016 Pepper Group Ltd, All rights reserved
      </small>
    </div>
  </section>
</footer>