<header class="app-header">
  <h1 class="hidden">Welcome to Pepper</h1>
  <nav class="desktop-nav">
    <ul>
      <li><a tabindex="1" href="#" class="active">Lending</a></li>
      <li><a tabindex="1" href="#">Servicing</a></li>
      <li><a tabindex="1" href="#">Advisory</a></li>
      <li><a tabindex="1" href="#">About us</a></li>
    </ul>
  </nav>
  <nav class="app-nav">
    <input id="HamburgerToggle" type="checkbox">
    <menu class="nav-icons">
    <label for="HamburgerToggle"><span></span></label>
    <h1 class="site-brand">
    <a tabindex="1" href="#"><img src="images/pepper-money-logo.png" alt="Pepper Logo"><span>Pepper Money</span></a>
    </h1>
    <a tabindex="2" href="#" class="nav-login"><i class="fa fa-lock"></i><span>Log In</span></a>
    <a tabindex="3" href="tel:137777" class="nav-call"><i class="fa fa-phone"></i><span>13&nbsp;77&nbsp;77</span></a>
    </menu>
    <menu class="nav-login-list">
    <ul>
      <li><h5>Account Login</h5></li>
      <li><a href="#"><span>My home loan</span><i class="fa fa-chevron-circle-right"></i></a></li>
      <li><a href="#"><span>Broker portal</span><i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>
    </menu>
    <menu class="nav-main">
    <ul class="level-one">
      <li>
        <a tabindex="1" href="#" class="active has-sub"><span>Lending</span><i class="fa fa-plus"></i></a>
        <ul class="level-two active">
          <li>
            <a tabindex="1" href="#" class="has-sub">
              <span>Home Loans</span>
              <i class="fa fa-plus"></i>
            </a>
            <ul class="level-three">
              <li>
                <ul class="wrapper">
                  <li>
                    <article class="nav-cta">
                      <h3>Home loans designed to fit you</h3>
                      <a tabindex="1" href="#"><i class="fa fa-check-circle"></i><span>Pre-Approval Tool</span></a>
                    </article>
                  </li>
                  <li>
                    
                    <a tabindex="1" href="/index.html">Menu 02<i class="fa fa-home"></i>
                    </a>
                    <a tabindex="1" href="#">Menu 03<i class="fa fa-home"></i>
                    </a>
                    <a tabindex="1" href="#">Menu 04<i class="fa fa-home"></i>
                    </a>
                    <a tabindex="1" href="#">Menu 05<i class="fa fa-home"></i></a>
                  </li>
                  <li>
                    <a tabindex="1" href="#">Menu 06<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 07<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 08<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 09<i class="fa fa-home"></i></a>
                  </li>
                  <li>
                    <a tabindex="1" href="#">Menu 06<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 07<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 08<i class="fa fa-home"></i></a>
                    <a tabindex="1" href="#">Menu 09<i class="fa fa-home"></i></a>
                  </li>
                </ul>
              </li>
              </ul> <!-- //wrapper -->
            </li>
            <li><a tabindex="1" href="#"><span>Car Loans</span></a></li>
            <li><a tabindex="1" href="#"><span>Personal Loans</span><i class="fa fa-plus"></i></a></li>
            <li><a tabindex="1" href="#"><span>Help Centre</span><i class="fa fa-plus"></i></a></li>
            </ul> <!-- level-two -->
          </li>
          <li>
            <a tabindex="1" href="#"><span>Servicing</span><i class="fa fa-plus"></i></a>
          </li>
          <li>
            <a tabindex="1" href="#"><span>Advisory</span><i class="fa fa-plus"></i></a>
          </li>
          <li>
            <a tabindex="1" href="#"><span>About Us</span><i class="fa fa-plus"></i></a>
          </li>
          </ul> <!-- level-one -->
          </menu>
        </nav>
        </header> <!-- app-header -->