<nav class="secondary-nav">
  <menu>
    <a href="#">Help Center</a>
    <a href="#">Getting Started</a>
    <a href="#">Managing a Loan</a>
    <a href="#">Customer Service</a>
    <a href="#" class="active">Pepper News <i class="fa fa-chevron-down"></i></a>
  </menu>
</nav>