<section class="carousel-container pepper-bg">
  <header>
    <h1>Since we began, we've helped over <em>10,000</em> Australian</h1>
  </header>
  <div class="slider-for">
    <div>
      <blockquote>
        <p>"Janine kept us informed with every single step."</p>
        <small>Valentin, Kitchen Designer</small>
      </blockquote>
    </div>

    <div>
      <blockquote><p>"Pepper had friendly people who helped us all the way through."</p>
        <small>Christine, Hospitality Professional</small>
      </blockquote>
    </div>

    <div>
      <blockquote><p>"The process was that easy to understand and that easy to follow."</p>
        <small>James, Business Owner</small>
      </blockquote>
    </div>

    <div>
      <blockquote><p>"I feel like a million dollars to be approved."</p>
        <small>Iwona, Professional</small>
      </blockquote>
    </div>

    <div>
      <blockquote><p>"It made me feel like I was getting my life back together."</p>
        <small>Jeffrey, Aircraft Manufacturer</small>
      </blockquote>
    </div>

    <div>
      <blockquote><p>"People give up trying to refinance but, actually, Pepper understands your situation."</p>
        <small>Cristhian, Carpenter</small>
      </blockquote>
    </div>
  </div>
  <div class="slider-nav">
    <div><img src="/images/testimonial/testimonial-p1.png" alt="Pepper testimonial"></div>
    <div><img src="/images/testimonial/testimonial-p2.png" alt="Pepper testimonial"></div>
    <div><img src="/images/testimonial/testimonial-p3.png" alt="Pepper testimonial"></div>
    <div><img src="/images/testimonial/testimonial-p4.png" alt="Pepper testimonial"></div>
    <div><img src="/images/testimonial/testimonial-p5.png" alt="Pepper testimonial"></div>
    <div><img src="/images/testimonial/testimonial-p6.png" alt="Pepper testimonial"></div>
  </div>
</section>