<section class="pepper-testimonial">
  <div>
    <article>
      <h2>It's all about you</h2>
      <p>Whatever your situation, we will look at it on its own merits and do everything we can to help you with an investment solution that's suitable.</p>
    </article>
    <aside>
      <blockquote class="">
        <p>"Janine kept us informed with every single step."</p>
        <small>Valentin, Kitchen Designer</small>
        <a href="/help-centre/getting-started/customer-story-valentin">Valentin's Story</a>
      </blockquote>
      <figure>
        <img src="/images/testimonial/testimonial-p1.png" alt="Pepper Testimonial"
             data-quote="Janine kept us informed with every single step."
             data-author="Valentin, Kitchen Designer"
             data-href="#" data-href-text="Valentin's Story" />
        <img src="/images/testimonial/testimonial-p2.png" alt="Pepper Testimonial"
             data-quote="It felt great to finally be in my own home."
             data-author="Lisa, Portsmouth Way"
             data-href="#"
             data-href-text="Lisa's Story" />
      </figure>
    </aside>
  </div>
</section>