<section class="related">
  <header>
    <h2>Related Stories</h2>
  </header>
  <ul class="tile-grid">
    <li class="featured">
      <a href="#" class="tag-gold">
        <h2>What does LVR mean?</h2>
        <p>Managing a Loan</p>
        <span><img src="/images/related/help-center-tile1.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
    <li>
      <a href="#" class="tag-light-blue">
        <h2>Most important rules for cashflow management</h2>
        <p>Managing a Loan</p>
        <span><img src="/images/related/help-center-tile2.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
    <li>
      <a href="#" class="tag-yellow">
        <h2>What is a conveyancer?</h2>
        <p>getting Started</p>
        <span><img src="/images/related/help-center-tile1.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
    <li>
      <a href="#" class="tag-gold">
        <h2>Which home loan is right for you?</h2>
        <p>Managing a Loan</p>
        <span><img src="/images/related/help-center-tile2.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
    <li>
      <a href="#" class="tag-red">
        <h2>Time saving tips for small business onvers</h2>
        <p>Pepper News</p>
        <span><img src="/images/related/help-center-tile2.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
    <li>
      <a href="#" class="tag-green">
        <h2>Perth: then bubble has burst</h2>
        <p>Pepper News</p>
        <span><img src="/images/related/help-center-tile2.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
    <li>
      <a href="#" class="tag-light-blue" data-image-url="..//images/related/help-center-tile1.jpg">
        <h2>Perth: then bubble has burst</h2>
        <p>Pepper News</p>
        <span><img src="/images/related/help-center-tile1.jpg" alt="The 3 Golden"></span>
      </a>
    </li>
  </ul>
</section>