<section class="search-results">
  <div class="container">
    <h2><em>5</em> Search results <span class="search-term"><span>for </span>"money"</span></h2>
    <ul>
      <li>
        <h3><a href="/help-centre/getting-started/is-there-a-catch-to-variable-rate-loans.html">Is there a catch to variable rate loans?</a></h3>
      </li>
      <li>
        <h3><a href="/help-centre/getting-started/customer-story-valentin.html">Customer Story - Valentin</a></h3>
      </li>
      <li>
        <h3><a href="/help-centre/getting-started/co-buying-a-home.html">Co-buying a home</a></h3>
      </li>
      <li>
        <h3><a href="/help-centre/pepper-news/interest-rates-explained.html">Demystifying interest rates</a></h3>
      </li>
      <li>
        <h3><a href="/help-centre/managing-a-loan/repaying-your-home-loan.html">Home loan repayment strategies</a></h3>
      </li>
    </ul>
  </div>
</section>