<section class="text-bullets tick-bullet bg-light">
  <h2>We hear you</h2>
  <p>At Pepper, you will talk one-on-one to a Private Account Manager. That person will be the one that sees your application all the way through, from your first chat about your personal circumstances, to overseeing your assessment to giving you a straightforward answer, sooner rather than later.</p>
  <h3>What do you get with Pepper</h3>
  <ul>
    <li>No third party Lenders Mortgage Insurance (LMI) approval required</li>
    <li>Alternative income verification available</li>
    <li>We will consider your application if your defaults, judgments or writs were registered &gt;36 months prior to your home loan application (paid or unpaid)</li>
    <li>Defaults under $1,000 accepted (paid or unpaid)</li>
    <li>No limit on the number of debts that can be consolidated</li>
    <li>Unlimited cash out up to a maximum loan amount of 80% of the valuation of your property(s) used as security, for acceptable purposes including renovations, business use and payout of ATO debts.</li>
  </ul>
  <p>If you’re keen to learn a little more about the home loan that could work for you and how much borrowing power you have, or simply to get some answers to a few questions, you can always get help from one of our friendly Private Account Managers on <a href="tel:137377">13 73 77</a></p>
  <p><a href="/pdf/product-summary-pepper-easy.pdf">Download detailed product description.</a></p>
</section>