$header-height: 60px;

.app-header {
    position: fixed;
    left: 0;
    top: 0;
    height: $header-height;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    background-color: #fff;
    z-index: 9999;
    @include breakpoint($desktop) {
        top: 30px;
    }
}

.app-content {
    margin-top: $header-height;
    @include breakpoint($desktop) {
        margin-top: 90px;
    }
}

#HamburgerToggle {
    display: none !important;
}