//private variables
$social-link-size: 35px;
$social-icon-color-footer : #767573;

footer {
  > section > .container {
    @include container(12);
  }

  menu {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

footer > section.cta-bar {
  color: white;
  @include clearfix();
  background-color: $pepper-red;

  @include breakpoint($desktop) {
    padding: 0 15px;
  }

  > .container {
    > h2 {
      font-size: 1.1rem;
      padding: 15px;
      line-height: 1.5rem;
      background-color: $pepper-red;

      @include container(100%);

      @include breakpoint($mobile-landscape) {
        display: inline-block;
        padding: 15px 15px 0 15px;
      }

      @include breakpoint($desktop) {
        padding: 15px 0 0 0;
        margin-right: 20px;
      }
    }

    > menu.cta-links {
      text-align: left;
      background-color: $pepper-ivory;

      > ul {
        padding: 0 15px;

        @include breakpoint($mobile-landscape) {
          padding: 0;
          width: 100%;
        }

        li {
          display: block;

          @include breakpoint($mobile-landscape) {
            display: inline-block;
          }
        }
      }

      @include breakpoint($mobile-landscape) {
        display: inline-block;
        text-align: left;

        background-color: $pepper-red;
        border-bottom: 0;
        padding: 15px;
      }

      @include breakpoint($desktop) {
        display: inline-block;
        text-align: left;
        background-color: $pepper-red;
        padding: 15px 0;
      }

      > ul > li > a {
        color: $link-color-grey-bg;
        border-bottom: 1px solid $red;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 20px 0;
        outline: none;
        @include clearfix();

        @include breakpoint($mobile-landscape) {
          padding: 0;
          color: $link-color-red-bg;
          margin-right: 20px;
          border-bottom: 0;
        }

        i[class^="fa"] {
          line-height: 1.5rem;
          font-size: 1.5rem;
          float: left;
          width: 30px;
          margin-right: 2%;
          height: auto;
          color: $red;

          @include breakpoint($mobile-landscape) {
            font-size: 1rem;
            float: none;
            width: auto;
            margin-right: 0;
            color: $link-color-red-bg;
          }
        }

        &:hover, &:focus {
          color: $link-hover-color-grey-bg;

          @include breakpoint($mobile-landscape) {
            color: $link-hover-color-red-bg;
          }

          i[class^="fa"] {
            color: $link-hover-color-grey-bg;

            @include breakpoint($mobile-landscape) {
              color: $link-hover-color-red-bg;
            }
          }
        }

        span.link-text {
          line-height: 1.5rem;
          font-size: 1.1rem;
          float: left;
          width: 75%;

          @include breakpoint($mobile-landscape) {
            float: none;
            width: auto;
          }
        }
      }
    }
  }
}


footer > section.search-bar {
  background-color: $pepper-ivory;
  padding: 20px 15px 0 15px;

  > .container {
    border-bottom: 1px solid $social-icon-color-footer;
    padding-bottom: 20px;

    @include breakpoint($tablet) {
     border-bottom-color: $border-color;
    }

  }

  menu.social-links {
    display: none;

    @include breakpoint($mobile-landscape) {
      display: block;

      @include span(1 of 2 0 alpha);
      text-align: left;
    }

    @include breakpoint($tablet) {
      @include span(1 of 3 0 alpha);
    }

    > a {
      display: inline-block;
      margin-right: 5px;
      height: $social-link-size;
      width: $social-link-size;

      i[class^="fa"] {
        color: $social-icon-color-footer;
        font-size: $social-link-size;
      }
    }
  }

  fieldset.search-box {
    $search-box-size: 35px;

    border: none;
    border: 1px solid black;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    @include border-radius(3px);
    @include border-box-sizing;

    @include span(1 of 1 0);

    @include breakpoint($mobile-landscape) {
      @include span(1 of 2 0 omega);
    }

    @include breakpoint($tablet) {
      @include span(1 of 3 0 omega);
    }

    input[type="search"] {
      background: none;
      border: none;
      display: block;
      line-height: $search-box-size;
      margin: 0 0 0 0;
      padding: 0 $search-box-size 0 10px;
      height: $search-box-size;
      outline: none;
      width: 100%;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      text-align: center;
      background: none;
      border: none;
      padding: 0;
      margin: 0;

      i[class^="fa"] {
        font-size: 1rem;
        line-height: $search-box-size;
      }
    }
  }
}

footer > section.site-map {
  background-color: $pepper-ivory;
  padding: 0 15px;

  @include breakpoint ($tablet) {
    padding: 0 15px 15px 15px;
  }

  nav {

    // heading
    h5 {
      font-size: 1.2rem;
      @include clearfix();

      label[for^="sitemap-menu-"] {
        display: block;
        padding: 20px 0 20px 0;
        cursor: pointer;

        &:hover {
          color: $red;

          i[class^='fa'] {
            color: $red;
          }
        }

        @include breakpoint ($tablet) {
          &:hover {
            color: $print;

            i[class^='fa'] {
              color: $print;
            }
          }
        }
      }

      @include breakpoint ($tablet) {
        margin-bottom: 10px;
      }
    }

    > ul > li {
      border-bottom: 1px solid $social-icon-color-footer;
      position: relative;

      &:last-child {
        @include breakpoint ($mobile-landscape) {
          border-bottom: 0;
        }

        menu.sitemap-menu {
          margin-bottom: 0;
        }
      }

      @include breakpoint ($tablet) {
        @include span(1 of 3 0);
        border: none;
      }

      @include transition(all 0.35s ease);
    }

    input.sitemap-check {
      display: none;
      outline: none;

      ~ menu.sitemap-menu {
        display: none;
      }
      ~ h5 label i.fa {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 1.2rem;

        &:before {
          content: "\f067"; // fa-plus
        }
      }

      // accordion effect on mobile
      &:checked {
        ~ menu.sitemap-menu {
          display: block;
        }
        ~ h5 label i.fa:before {
          content: "\f068"; // fa-minus
        }
      }

      @include breakpoint ($tablet) {
        ~ menu.sitemap-menu {
          display: block !important;
        }
        ~ h5 label i.fa:before {
          display: none;
        }
      }
    }

    menu.sitemap-menu {
      margin: -10px 15px 10px 0; // compensate for padding-bottom in label

      @include breakpoint($tablet) {
        margin: -20px 0 15px 0;
      }

      a {
        display: block;
        padding: 15px 0;
        outline: none;
        color: $link-color-grey-bg;

        @include breakpoint ($tablet) {
          padding: 10px 0;
        }

        &:hover, &focus {
          color: $link-hover-color-grey-bg;
        }
      }
    }
  }

  menu.social-links {
    display: block;
    padding: 20px 0;
    text-align: center;

    @include breakpoint($mobile-landscape) {
      display: none;
    }

    > a {
      display: inline-block;
      margin-right: 5px;
      height: $social-link-size;
      width: $social-link-size;

      i[class^="fa"] {
        color: $social-icon-color-footer;
        font-size: $social-link-size;
      }
    }
  }
}

footer > section.copyright {
  background-color: #D1D3D4;
  padding: 15px;
  text-align: center;
}