.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    @include breakpoint($desktop) {
        position: relative;
        top: auto;
        left: auto;
        @include container;
        padding:0 gutter(10);
    }

    .nav-icons {
        margin: 0;
        padding: 0;
        label {
            float: left;
            width: 48px;
            height: 48px;
            margin-top: 6px;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            @include breakpoint($desktop) {
                display: none;
            }
        }
    }
    .site-brand {
        float: left;
        margin: auto 6px;
        max-width: 164px;
        overflow: hidden;
        a {
            display: inline-block;
            position: relative;
            max-height: 45px;
            overflow: hidden;
            img {
              display:inline-block;
              margin-top: 17px;
            }
            span {
                display: none !important;
            }
        }
    }
}

.nav-call, .nav-login {
    width: 48px;
    height: 48px;
    display: inline-block;
    float: left;
    text-align: center;
    @include vertical-align(16%);
    i {
        padding-top: 6px;
    }
    span {
        display: none;
    }
    @include breakpoint($desktop) {
        width: auto;
        height: auto;
        float: right;
        margin-top: 7px;
        &:last-of-type {
            margin-right: 20px;
        }
        span {
            display: inline-block;
            padding-left: 10px;
            line-height: 1.8em;
            margin-top: 4px;
            float: right;
        }
        i {
            color: $red;
        }
    }
}

.nav-login {
  @include breakpoint($desktop) {
    background-color: $red;
    color:#fff;
    width:120px;
    height: 30px;
    margin-top: 9px;
    @include border-radius(4px);
    span {
      margin-top: 1px;
      float:left;
    }
    i {
      color:#fff;
      font-size: 1.2rem;
      float:left;
      margin-left: 20px;
    }
  }
  &.active {
    i {
      &:before {
      content:"\f13e";  
      }
    }
  }
}

//Hamburger Icon Animation
.nav-icons label {
    position: relative;
    span, span:before, span:after {
        display: block;
        width: 32px;
        height: 6px;
        left: 8px;
        background: $icon-color;
        position: absolute;
        @include transition(all 0.15s ease);
        @include border-radius(4px);
    }
    span {
        top: calc(50% - 3px);
    }
    span:before {
        content: "";
        top: -10px;
        left: 0px;
    }
    span:after {
        content: "";
        bottom: -10px;
        left: 0px;
    }
}

.nav-main {
    margin: 0;
    padding: 0;
    position: fixed;
    height: calc(100% - 60px);
    top: $header-height;
    width: auto;
    left: -320px;
    background-color: #fff;
    overflow-y: scroll;
    cursor: pointer;
    @include transition(all 0.35s ease);
    z-index: 999;
    @include breakpoint($desktop) {
        position: relative;
        height: auto;
        left: auto;
        top: auto;
        overflow-y: auto;
        background-color: transparent;
        padding-top: 11px;
        cursor: default;
        > ul > li > a {
            display: none;
        }
    }

    ul {
        position: relative;
        z-index: 9999;
    }
    a {
        display: inline-block;
        width: 100%;
        @include border-box-sizing;
        padding: 15px 13px 10px;
        max-height: 48px;
        @include transition(all 0.35s ease);
        i {
            float: right;
            width: 24px;
            height: 24px;
            @include font-size(15px);
            &:before {
                margin-left: 12px;
                position: relative;
                top: 3px;
            }
        }
        &.active {
            i {
                &:before {
                    content: '\f068';
                }
            }
        }
    }
    //a link
    > .level-one:not(.level-two):not(.level-three) {
        background-color: #222;
        width: calc(100% - 48px);
        min-height: calc(100%);
        max-width: 272px;
        //i.e. 320px - 48px;
        //webkit smooth scrolling
        -webkit-overflow-scrolling: touch;
        //2+ excess space as per UX
        padding-bottom: 96px;
        @include breakpoint($desktop) {
            padding-bottom: 0;
            max-width: 100%;
        }

        > li {
            > a {
                background-color: #222;
                color: #fff;
                border-bottom: 1px solid lighten(#222, 5);
                i {
                    display: none;
                }
                &.has-sub {
                    i {
                        display: inline-block;
                    }
                }
                &:hover {
                    color: $pepper-red;
                }
            }
            i {
                color: #fff;
            }
        }
    }
    .level-two:not(.level-one):not(.level-three) {
        display: none;
        width: 100%;
        &.active {
            display: block;
        }
        > li {
            background-color: #fff;
            color: $pepper-teal-grey;
            width: 100%;
            @include breakpoint($desktop) {
                width: auto;
                float: left;
                background-color: transparent;
            }

            > a {
                color: $pepper-teal-grey;
                @include breakpoint($desktop) {
                    padding-bottom: 19px;
                    padding-top: 11px;
                    display: inline-block;
                }

                &:hover, &.active, &:focus {
                    background-color: darken(#fff, 15);
                    outline: none;
                }
                i {
                    display: none;
                    //keep the html tag for magnolia
               
                }
                &.has-sub {
                    i {
                        display: inline-block;
                        color: $icon-color;
                        @include breakpoint($desktop) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .level-three {
        display: none;
        height: 0;
        overflow-y: hidden;
        @include transition(all 5s cubic-bezier(0, 1, 0.5, 1));
        //@include animation('slide-down 5s 3');
        @include breakpoint($desktop) {
            position: fixed;
            left: 0;
            top: 90px;
            //header-height + desktop-nav
            width: 100%;
            background-color: rgba(255, 255, 255, 0.97);
        }

        &.active {
            display: block;
            height: auto;
        }
        ul.wrapper {
            @include breakpoint($desktop) {
                @include container;
                padding: 40px 0;
            }

            li {
                &:first-child {
                    display: none;
                    //nav-cta
                    @include breakpoint($desktop) {
                        display: inline-block;
                    }
                }
                @include breakpoint($desktop) {
                    @include span(1 of 4 0);
                }

                //level-three li
           
            }
        }
        a {
            color: $icon-color;
            &:hover {
                background-color: darken(#fff, 10);
            }
        }
        i {
            float: left;
            display: inline-block;
            color: $icon-color !important;
            &:before {
                margin-left: 0;
                top: 0;
            }
        }
    }
    .level-two a, .level-three a {
        border-bottom: 1px solid darken(#fff, 15);
        @include breakpoint($desktop) {
            border-bottom: none;
        }
    }
    //first level;
}

//Menu Toggle+
#HamburgerToggle:checked ~ .nav-main {
    left: 0;
    background-color: $overlay;
    width: 100%;
}

#HamburgerToggle:checked ~ .nav-icons label span {
    background: transparent;
    &:before, &:after {
        width: 60%;
        left: 0px;
        background-color: $pepper-red;
    }
    &:before {
        @include rotate(132);
        top: -5px;
    }
    &:after {
        @include rotate(-132);
        bottom: -5px;
    }
}

.nav-cta {
    margin-right: 20px;
    padding-right: 10px;
    border-right: 1px solid darken(#fff, 10);
    min-height: 190px;
    h3 {
        font-size: 1.3rem;
        padding-bottom: 20px;
    }
}

.desktop-nav {
    display: none;
    @include breakpoint($desktop) {
        background-color: #000;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        ul {
            @include container;
            li {
                @include span(1 of 8);
            }
            a {
                display: inline-block;
                padding: 6px;
                color: #fff;
                position: relative;
                &:hover, &:focus {
                    color: $pepper-red;
                }
                &.active {
                    background-color: #000;
                    &:after {
                        top: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(0, 0, 0, 0);
                        border-top-color: #000;
                        border-width: 5px;
                        margin-left: -5px;
                    }
                }
            }
        }
    }
}

.nav-login-list {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    margin: 0;
    ul {
        width: 270px;
        max-width: 270px;
        li {
            display: inline-block;
            width: 100%;
        }
    }
    h5 {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }
    a {
        display: inline-block;
        padding: 20px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 1px;
        line-height: 1.8em;
        i {
            float: right;
        }
        &:hover, &:focus {
            background-color: darken(#fff, 15);
        }
    }
}