.secondary-nav {
  @include clearfix;
  background-color: $pepper-light-grey;
  height: 48px;
  overflow: hidden;
  @include breakpoint($desktop) {
    height: auto;
  }

  menu {
    @include container(12);
    a {
      padding: 15px 10px;
      @include span(5 of 5);
      text-align: center;
      color: $pepper-teal-grey;
      position: relative;
      font: $navstep-font;
      @include breakpoint($desktop) {
        @include span(1 of 5);
      }

      &.active {
        i {
          position: absolute;
          right: 20px;
          top: 16px;
          color: $pepper-teal-grey;
          @include breakpoint($desktop) {
            display: none;
          }
        }
      }
      &.tag-red {
        &:hover, &:focus, &.active {
          color: $pepper-red;
        }
      }
      &.tag-blue {
        &:hover, &:focus, &.active {
          color: $pepper-blue;
        }
      }
      &.tag-light-blue {
        &:hover, &:focus, &.active {
          color: $pepper-light-blue;
        }
      }
      &.tag-gold {
        &:hover, &:focus, &.active {
          color: $pepper-gold;
        }
      }
      &.tag-yellow {
        &:hover, &:focus, &.active {
          color: $pepper-yellow;
        }
      }
      &.tag-green {
        &:hover, &:focus, &.active {
          color: $pepper-green;
        }
      }
      &.tag-teal {
        &:hover, &:focus, &.active {
          color: $pepper-teal-grey;
        }

      }
    }
    //anchor

  }
}