$bio-tile-photo-width: 100px;
$bio-tile-photo-height: 128px;
$bio-desc-height: 55px;
$bio-h3-small-height: auto;

section.bio-tile {
  background-color: $ivory;
  padding: 20px 0 10px 0;

  @include breakpoint($tablet) {
    padding: 40px 0 80px 0;
  }

  > .container {
    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }

    > h2 {
      font-size: 1.25rem;
      color: $text-color;
      text-align: left;
    }

    > p {
      font-size: 1rem;
      color: $text-color;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  > .container .bio-grid {
    margin-top: 15px;
    display: table;

    @include breakpoint($tablet) {
      margin-top: 0;
    }
  }

  > .container article.bio-grid-item {
    padding: 10px 0 10px 0;

    @include breakpoint($tablet) {
      display: table-cell;
      margin-top: 0;
      padding: 30px 0 0 0;
    }

    > figure {
      width: $bio-tile-photo-width;
      height: $bio-tile-photo-height;

      @include breakpoint($mobile) {
        float: left;
      }
    }

    > header {
      margin: 20px 0 0 0;

      @include breakpoint($mobile) {
        margin: 0 25px 0 $bio-tile-photo-width;
        padding-left: 15px;
      }

      h3 {
        font-size: 1.1rem;
        font-weight: bold;

        &:hover a {
          color: lighten($red, 10);
        }

        &:focus a {
          color: darken($red, 10);
        }

        small {
          color: $text-color;
          display: block;
          font-size: 0.9rem;
          margin-bottom: 10px;

          @include breakpoint($tablet) {
            height: $bio-h3-small-height;
          }
        }
      }
    }

    > .bio-desc {
      @include breakpoint($mobile) {
        margin: 10px 25px 0 $bio-tile-photo-width;
        padding-left: 15px;
      }

      // When the article.bio-grid-item, maximum height is applied on the description
      // to ensure equal height between 2 columns
      @include breakpoint($tablet) {
        max-height: $bio-desc-height;
        overflow: hidden;
      }

      p {
        color: $black;
        margin: 0;
      }
    }

    > footer {
      padding: 15px 0 15px 0;
      border-bottom: 1px solid $border-color;
      clear:both;
      @include clearfix();

      @include breakpoint($tablet) {
        margin-right: 25px;
      }

      menu.social-profiles {
        @include clearfix();

        @include breakpoint($tablet) {
          float: left;
        }

        a {
          padding: 0 15px 0 0;
          margin: 10px 15px 0 0;
          float: left;
          border-right: 1px solid $border-color;

          i[class^='fa'] {
            color: $icon-grey;
          }

          span.phone-number {
            color: $icon-grey;
            font-size: 0.8rem;
            position: relative;
            top: -3px;
            left: 5px;

            display: none;

            @include breakpoint($desktop) {
              display: inline-block;
            }
          }

          &:last-child {
            border-right: 0;
            margin-right: 0;
          }

          &:hover, &:focus {
            i[class^='fa'] {
              color: $red;
            }

            span.phone-number {
              color: $red;
            }
          }

        }
      }

      a.bio-more {
        display: block;
        margin: 13px 10px 0 0;
        text-align: right;
        float: right;

        span {
          display: none; // less than $mobile

          @include breakpoint($mobile) {
            display: inline-block;
          }
        }

        @include breakpoint($phablet) {
          clear: none;
          float: right;
          margin: 13px 10px 0 0;
        }

        i[class^="fa"] {
          font-size: 1.2rem;
          margin-left: 5px;
          color: $red;

          @include breakpoint($mobile) {
            font-size: 0.7rem;
          }
        }

        &:hover,
        &:hover i[class^="fa"] {
          color: lighten($red, 10);
        }

        &:focus,
        &:focus i[class^="fa"] {
          color: darken($red, 10);
        }
      }
    }
  }

  > .container article.bio-grid-item:last-child {
    > footer {
      border-bottom: none;
    }

    @include breakpoint($tablet) {
      border-bottom: 1px solid $border-color;
    }
  }
}

section.bio-tile {
  // set with two-columns
  &.two-columns > .container article.bio-grid-item {
      @include span(2 of 2 0);

      @include breakpoint($tablet) {
        @include span(1 of 2 0);

        &:nth-child(2n + 1) {
          clear: left;
        }
    }
  }
}