section.blog-news {
  @include container(90%);
  margin:80px auto;
  @include breakpoint($desktop) {
    @include container(12);
  }

  > article {
    >h1 {
      color:$pepper-teal-grey;
      padding-bottom:10px;
      font-size:1.5rem;
      @include breakpoint($desktop) {
        font-size: 1.4rem;
      }
    }
    h2 {
      font-size: 1.4rem;
    }
    dl {
      margin:15px auto;
      padding-left:5px;
      @include clearfix;

      dt {
        font-weight: 400;
        color:lighten($pepper-teal-grey,10%);
      }
      dd {
        font-size: 0.8rem;
        color:lighten($pepper-teal-grey,20%);
        padding-bottom: 10px;
        &:first-of-type {
          float:left;
        }
        &.right {
          float: right;
        }
      }
    }
    img {
      max-height: 375px;
    }
    p {
      line-height: 1.4em;
      margin:15px auto;
    }
    p, ul li {
      font-size: 1.2rem;
      color:$pepper-teal-grey;
    }
    ol {
      list-style-type: decimal-leading-zero;
      padding-left: 38px;
    }
    ul {
      font: $para-font;
      list-style-type: disc;
      padding-left: 20px;
      padding-bottom: 15px;
    }
    figure:not(.author):not(.infographics-figure) {
      margin:20px auto;
      figcaption {
        font-size: 0.8rem;
        color:lighten($pepper-teal-grey,20%);
      }
    }
    figure.author {
      @include clearfix;
      padding-top:40px;
      img {
        @include span(1 of 6);
        @include border-radius(50%);
      }
      summary {
        @include span(5 of 6);
        a {
          color:$pepper-teal-grey;
          font-size: 1.4rem;
          &:hover, &:focus {
            color:$pepper-red;
          }
        }
        p {
          font-size: 1.0rem;
        }
      }
    }
    nav.tag {
      @include clearfix;
      a {
        display:inline-block;
        padding:5px 20px;
        float:left;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size:0.75rem;
        border:1px solid $pepper-teal-grey;
        @include border-radius(20px);
        color:$pepper-teal-grey;
        &:hover, &:focus {
          background-color:$pepper-red;
          color:#fff;
          border-color:$pepper-red;
        }
      }
    }
    @include breakpoint($desktop) {
      @include span(10 of 12);
      >h1 {
        font-size:2.0rem;
      }
    }
  }
  > aside {
    @include breakpoint($desktop) {
      @include span(2 of 12 last);
    }
  }
}
.related {
  background-color: $pepper-light-grey;
  padding:40px 0;
  >header {
    @include container(95%);
    @include breakpoint($desktop) {
      @include container(12);
    }
  }
  >p {
    @include container(65%);
    text-align: center;
    @include breakpoint($desktop) {
      @include container(12);
      font-size: 1.0rem;
      margin-top: -80px;
      display:block;
    }
  }
  .tile-grid {
    margin-top: 20px;
  }
}

.social-nav {
  position:relative;
  menu {
    padding-top: 40px;
    @include breakpoint($desktop) {
      float:right;
      max-width: 48px;
      position:fixed;
      right:50px;
      top:305px;
      padding-top:0px;
      z-index: 99999;
    }
    a {
      float:left;
      margin-right: 20px;
      display:table-cell;
      vertical-align: middle;
      width:48px;
      height: 48px;
      background-color:$pepper-teal-grey;
      text-align: center;
      &.tw {
        background-color: #2AA9E0;
      }
      &.fb {
        background-color: #2f5790;
      }
      &.li {
        background-color: #364752;
      }
      &.gp {
        background-color: #f7684c;
      }
      &.em {
        background-color: #72898c;
      }
      @include breakpoint($desktop) {
        @include span(1 of 1);
      }
      i {
        color: #fff;
        font-size: 1.4rem;
        padding-top: 13px;
      }
    }
  }
}

#at4-share {
  top:33.57% !important;
  @include breakpoint(1325px 1920px) {
    right: 10% !important;
  }
  @include breakpoint(0 959px) {
    left:5% !important;
    right:auto !important;
    position:absolute !important;
    right:auto !important;
    float:left !important;
    width:auto !important;
    a {
      float:left !important;
    }
  }
}

.at4-share-title {
  font-size: 0.9rem;
}

.pepper-quiz {
  @include clearfix;
  margin: 40px 0;
  @include breakpoint($desktop) {
    margin:80px 0;
  }
  article {
    position:relative;
    min-height: 100px;
    @include container(90%);
    @include breakpoint($desktop) {
      @include container(12);
    }
    >span {
      @include vertical-align;
      position:absolute;
      left:50%;
      z-index: 99999;
      min-height: 100px;
      i {
        font-size: 2.4rem;
        color:darken(#eee, 50%);
      }
    }
  }
}