.carousel-container, .carousel-circle-images, .carousel-gallery-slider {
  &.pepper-bg {
    background-color: $pepper-light-grey;
  }
  padding-top: 40px;
  header {
    @include container(12);
    h1, h2 {
      font: $head-font;
      padding: 0 0 20px;
    }
    h3, h4 {
      font: $para-font;
    }
    text-align: center;
    margin-bottom: 10px;
    @include breakpoint($mobile-landscape) {
      margin-bottom: 40px;
    }

    em {
      color: $pepper-red;
    }
  }
}

.slider-for, .slider-nav {
  @include container(12);
  @include breakpoint(500px 639px) {
    margin-top: -7px;
  }
}

.slick-slider {
  margin-bottom: 0;
  &.slider-for {
    @include breakpoint($mobile-landscape) {
      margin-bottom: -25px;
    }
  }
}

.slider-nav .slick-track {
  top: auto;
  bottom: 0;
  margin-top: 55px;
  @include breakpoint($mobile-landscape) {
    margin-top: 120px;
  }

  @include breakpoint($desktop) {
    margin-top: 0px;
  }

  @include breakpoint(500px 639px) {
    margin-top: 34px;
  }
}

.slider-nav .slick-list {
  @include breakpoint(500px $mobile-landscape) {
    margin-top: -85px;
    max-height: 178px;
  }
}

.slider-nav .slick-slide {
  position: relative;
  min-height: 160px;
  text-align: center;
  @include breakpoint(360px $mobile-landscape) {
    min-height: 220px;
  }

  @include breakpoint($mobile-landscape) {
    min-height: 135px;
  }

  @include breakpoint($desktop) {
    min-height: 350px;
  }

  img {
    position: absolute;
    bottom: 0;
    width: 63%;
    left: 18%;
    @include breakpoint(400px 450px) {
      width: 55%;
      left: 22%;
    }

    @include breakpoint(450px 500px) {
      width: 50%;
      left: 25%;
    }

    @include breakpoint(500px $mobile-landscape) {
      width: 33%;
      left: 33%;
    }

    @include breakpoint($mobile-landscape) {
      width: 50%;
      left: 25%;
    }
  }
  &.slick-center img {
    @include breakpoint($mobile-landscape) {
      width: 66%;
      left: 18%;
    }
  }
}

.slider-for .slick-list.draggable .slick-track, .slider-for .slick-list.draggable {
  //overflow:visible; //for blockquote arrow;
  min-height: 178px;
  @include breakpoint($desktop) {
    min-height: 160px;
  }
}

.slider-for .slick-slide {
  blockquote {
    @include container(90%);
    @include breakpoint($mobile-landscape) {
      @include container(70%);
    }

    @include breakpoint($desktop) {
      @include container(50%);
    }

    padding: 20px;
    background-color: $pepper-teal;
    color: #fff;
    position: relative;
    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $pepper-teal;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}

.slick-prev:before, .slick-next:before {
  color: $pepper-red;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 2.0rem;
  line-height: 2.0em;
  font: normal normal normal 2.0rem/2.0em FontAwesome;
}

.slick-next, .slick-prev {
  top: 50px;
  width: 60px;
  height: 60px;
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 5px;
  @include breakpoint($desktop) {
    right: 30px;
  }
}

.slick-prev:before {
  content: "\f053";
}

.slick-next:before {
  content: "\f054";
}

.carousel-circle-images {
  padding: 40px 0;
  @include breakpoint($desktop) {
    padding: 80px 0;
  }
}

.circle-slider {
  text-align: center;
  color: $pepper-teal-grey;
  @include container(12);
  a {
    display: inline-block;
    margin: 20px 80px 0;
    @include breakpoint($mobile-landscape) {
      margin: 0 40px;
    }

    @include transition(margin 0.3s ease);
    @include breakpoint(460px 600px) {
      margin: 0 180px;
    }

    &:hover, &:focus {
      h1, h2, h3, h4 {
        color: $pepper-red;
      }
      @include breakpoint($desktop) {}
    }
  }
  figure {}
  h2, h3, h4 {
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lighten($pepper-teal-grey, 70%);
    color: $print;
  }
  p {
    color: $pepper-night-sky;
    padding-top: 20px;
    font-size: 1.0rem;
    line-height: 1.2em;
  }
  .slick-next, .slick-prev {
    @include breakpoint(0 960px) {
      top: 235px;
      &:before {
        font: normal normal normal 1.2rem/1.4em FontAwesome;
      }
    }
  }
  &.two-para {
    figure {
      display: inline-block;
      margin: 20px 80px 0;
      @include breakpoint($mobile-landscape) {
        margin: 0 40px;
      }

      @include breakpoint(460px 600px) {
        margin: 0 180px;
      }

      p {
        font-size: 1.0rem;
        &:last-of-type {
          padding-top: 0;
        }
      }
    }
  }
}

//new scroll down to slide
.scroll-down {
  @include clearfix;
  @include container;
  text-align: center;
  a {
    @include scroll-button($pepper-teal-grey);
  }
}

/**
 ** Gallery Slider with social share
 ** EPIC: MB-588
 **/
.carousel-gallery-slider {
  padding-bottom: 70px;
  .gallery-slider {
    @include container(12);
    article {
      visibility: hidden !important;
      // hidden first when loaded

    }
    &.slick-initialized {
      article {
        visibility: visible !important;
        // only show when initialized

      }
    }
    .slick-slide {
      padding: 0 3px;
      > article {
        position: relative;
        min-height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $pepper-night-sky;
        figure {
          display: none;
          // hidden in carousel, but is copied into light-box when the slide is clicked.

        }
        header, footer {
          background-color: rgba(95, 106, 125, 0.65);
          color: #FFF;
          position: absolute;
          width: 100%;
          margin: 0;
        }
        header {
          top: 0;
          left: 0;
          background: linear-gradient(to bottom, rgba(30, 39, 51, 1) 0%, rgba(30, 39, 51, 0) 100%);
          padding: 20px 10px 60px 10px;
          text-align: center;
        }
        footer {
          background: linear-gradient(to top, rgba(30, 39, 51, 1) 0%, rgba(30, 39, 51, 0) 100%);
          bottom: 0;
          left: 0;
          padding: 40px 10px 10px 15px;
          text-align: left;
          text-transform: uppercase;
          p {
            font-size: 0.7rem;
            padding: 0;
            margin: 0;
            display: inline-block;
            position: relative;
            top: 5px;
          }
        }
      }
    }
    .slick-next, .slick-prev {
      top: 50%;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      // 30px = 60px / 2
      display: none !important;
      @include breakpoint($desktop) {
        display: block !important;
      }
    }
    .slick-prev {
      left: -60px;
    }
    .slick-next {
      right: -60px;
    }
    .slick-dots {
      z-index: 1;
      text-align: center;
      // changed form "left" to "center" temporarily for Jan 2016 release
      bottom: -37px;
      @include breakpoint($desktop) {
        text-align: center;
      }

      // the dot itself
      li button:before {
        font-size: 30px;
      }
    }
  }
  menu.social-share {
    @include container(12);
    display: none;
    // hidden temporarily for Jan 2016 release
    a {
      float: right;
      width: 40px;
      height: 40px;
      text-align: center;
      padding-top: 7px;
      margin: 6px 3px 0 3px;
      vertical-align: middle;
      font-size: 1.5rem;
      color: white;
      display: block;
      position: relative;
      z-index: 2;
      &:hover, &:focus {
        cursor: pointer;
      }
      &.facebook {
        background: $facebook-blue;
        &:hover, &:focus {
          background: darken($facebook-blue, 5%);
        }
      }
      &.twitter {
        background: $twitter-blue;
        &:hover, &:focus {
          background: darken($twitter-blue, 5%);
        }
      }
    }
  }
  &.has-social-links {
    .social-links {
      position: absolute;
      right: 0;
      margin-top: 5px;
      z-index: 99;
      display: none;
      @include breakpoint($tablet) {
        display: block;
      }
    }
  }
}

.lightbox-images {
  article {
    cursor: pointer;
  }
}