.hero-image.cover, .content-search, .content-hero {
  @include backImage("//placehold.it");
  @include align-items(center);
  @include justify-content(center);
  background-repeat: no-repeat;
  width:100%;
  overflow: hidden;
  padding: 15px 0;
  @include breakpoint($mobile-landscape) {
    padding: 105px 0;
  }

  > fieldset, > div, > article, > section, > h1, > h2 {
    @include container(90%);
    color:#fff;
    @include breakpoint($mobile-landscape) {
      @include container(50%);
    }
  }
  //first child always table cell to position middle
  h1,h2,h3,h4,h5 {
    text-align: center;
  }
  h1 {
    font-size: 1.6rem;
    padding-top: 20px;
    @include breakpoint($desktop) {
      padding-top: 0px;
      font-size: 3.4rem;
      line-height: 0.8em;
    }
  }
  h2 {
    font-size:1.3rem;
    @include breakpoint($desktop) {
      font-size: 2.0rem;
      line-height: 1.0em;
    }
  }

}

.content-search.blade-search-box {

  @include breakpoint($mobile-landscape) {
    padding: 70px 0;
  }

  h4 {
    color: #fff;
    margin-bottom: 25px;
  }
}

.help-search {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  @include border-radius(30px);
  overflow:hidden;
  position:relative;
  min-height: 46px;
  height: 46px;
  input {
    padding: 11px 22px !important;
    background:none;
    width:85.5% !important;
    color:#fff;
    font-size: 1.1rem;
    border:none !important;
    left:10px;
    top:-1px;
    @include border-left-radius(30px);
    -webkit-appearance : none;
    &:focus {
      background:#fff;
      color:$pepper-teal-grey;
    }
    &:focus ~ a {
      color:$pepper-teal-grey;
      background: #fff;
      @include border-right-radius(25px);

      i[class^='fa'] {
        color:$pepper-teal-grey;
      }
    }
  }
  a, button {
    position: absolute;
    right: 0px;
    top: -1px;
    color: #fff;
    display: inline-block;
    text-align: center;
    min-height: 46px;
    width: 15%;
    i[class^='fa'] {
      font-size: 1.6rem;
      padding-top: 8px;
      color: #fff;
    }
  }
  input, a, button {
    margin:0 !important;
    position:absolute;
  }
}