section.related {
  background-color: $pepper-light-grey;
  padding:40px 0;
  >header {
    @include container(95%);
    @include breakpoint($desktop) {
      @include container(12);
    }
  }
  >p {
    @include container(65%);
    text-align: center;
    @include breakpoint($desktop) {
      @include container(12);
      font-size: 1.0rem;
      margin-top: -80px;
      display:block;
    }
  }
  .tile-grid {
    margin-top: 20px;
  }
}