.search-results {
  padding: 40px 0;

  @include breakpoint($desktop) {
    padding: 80px 0;
  }

  > .container {
    @include container(90%);

    @include breakpoint($desktop) {
      @include container(12);
    }
  }

  > .container > h2 {
    margin-bottom: 30px;
  }

  > .container > ul {
    margin: 0;
    padding: 0;

    h3 {
      font-weight: 300;
      font-size: 1.5rem;
    }

    a {
      padding: 30px 0;
      border-bottom: 1px solid $border-color;
      display: block;
    }
  }
}