.text-block {
    @include clearfix;
    padding: 40px 0;
    h2, p, fieldset {
        @include container(90%);
        text-align: center;
        @include breakpoint($desktop) {
            @include container(12);
        }
    }
    p {
        @include breakpoint($desktop) {
            padding: 20px 0;
            @include pad(1 of 12);
            color: $pepper-night-sky;
        }
    }
    fieldset {
        display: block;
    }
    &.light-bg {
        background-color: $pepper-light-grey;
    }
}