.text-only, .text-bullets {
    @include clearfix;
    padding: 40px 0;
    color: $pepper-teal-grey;
    @include breakpoint($desktop) {
        padding: 80px 00px;
    }

    &:not([class*="bg-"]) {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container;
        }
    }
    //without bg classes
    &[class*="bg-"] {
        > h2 {
            @include container(90%);
            @include breakpoint($desktop) {
                @include container(32em);
            }
        }
        > h3 {
            @include container(90%);
            @include breakpoint($desktop) {
                @include container(48em);
            }
        }
        > p {
            @include container(90%);
            @include breakpoint($desktop) {
                @include container(48em);
            }
        }
    }
    //with bg classes
    h1, h2 {
        padding-bottom: 20px;
    }
    h3 {
        font: $para-font;
        padding: 10px 0;
    }
    &.small-hd {
        h1, h2 {
            font-size: 1.8rem;
            line-height: 1.0em;
        }
    }
    h2 {
        font: $para-hero;
    }
    // > p, > div {
    //     font-size: 1.0rem;
    //     line-height: 1.3em;
    // }
}

.tick-bullet {
    ul {
        @include container(90%);
        @include breakpoint($desktop) {
            @include container(12);
        }

        @include clearfix;
        padding: 15px 0;
    }
    li {
        position: relative;
        padding-bottom: 10px;
        font: $para-font;
        @include span(1 of 1);
        @include breakpoint($desktop) {
            @include span(1 of 2);
        }

        &:before {
            position: absolute;
            left: -30px;
            top: 2px;
            content: "\f058";
            font-family: FontAwesome;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.2em;
            font: normal normal normal 1.2rem/1.2em FontAwesome;
            color: darken($green, 8%);
            @include breakpoint($desktop) {
                padding-left: 15px;
                left: -48px;
            }
        }
    }
}