.grid-header {
  @include clearfix;
  @include container(90%);
  margin-top: 40px;
  margin-bottom: 20px;
  @include breakpoint($desktop) {
    @include container(12);
    margin-top: 80px;
    margin-bottom: 40px;
  }

  h1, p {
    padding: 5px;
    text-align: center;
    line-height: 100%;
  }
}

.grid-box {
  @include clearfix;
  @include container;
  margin-bottom: 40px;
  @include breakpoint($desktop) {
    margin-bottom: 80px;
  }
  &.calculators {
    margin-bottom: 0px;
    article {
      padding-bottom: 80px;
    }
  }
  article {
    padding: 10px;
    text-align: center;
    figure {
      padding-bottom: 15px;
      @include pad(3);
    }
    summary {
      font: $head-font-hl;
      font-size: 1.6rem;
      color: #2f3d4a;
      line-height: 100%;
      padding-bottom: 20px;
      @include clearfix;
    }
    details {
      font: $para-font;
    }
    details summary {
      -webkit-details-marker: none;
      -webkit-apperance: none;
    }
    &.three-box {
      @include span(1 of 1);
      > h2, > h3 {
        font: $head-font-hl;
        font-size: 1.6rem;
        color: #2f3d4a;
        line-height: 100%;
        padding: 15px 0;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        display: inline-block;
        background-color: $pepper-green;
        border: 1px solid darken($pepper-green, 5%);
        color: #fff;
        padding: 15px 30px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
        @include border-radius(30px);
        @include transition(background-color 0.3s ease);
        &:hover, &:focus {
          background-color: #589184;
        }
      }
      @include breakpoint($mobile-landscape) {
        @include span(4 of 12);
      }
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  display: none;
  // content: "\2714"; /* the new icon
  // color: #696f7c;
  // margin-right: 5px;
}