.tile-grid {
  @include container(85%);
  margin: 0px auto 40px;
  @include clearfix;
  @include breakpoint($desktop) {
    @include container(4);
    margin: 0px auto 80px;
  }

  li {
    border-bottom: 1px solid lighten($pepper-teal-grey, 65%);
    padding: 15px 0;
    min-height: 140px;
    @include breakpoint($desktop) {
      @include border-box-sizing;
      display:block;
      width: 23%;
      margin-right: 2%;
      margin-bottom: 2%;
      padding: 0;
      border-bottom: none;
      float: left;
      min-height: 220px;
      &.featured {
        width: 48%;
        img {
          left: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 1;
    font-weight: 400;
    margin:10px auto;
    @include breakpoint(640px 768px) {
      min-height: 98px;
    }
    @include breakpoint($desktop) {
      margin:0px auto;
      height: 96px;
    }
    &:hover, &:focus {
      h2 {
        color: $pepper-red;
      }
    }
    @include breakpoint($desktop) {
      min-height: 220px;
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(46, 59, 78, 0.8);
        @include transition(all 0.5s ease-in-out);
      }
      &:hover, &:focus {
        h2 {
          color:#fff;
        }
        &:after {
          background: linear-gradient(rgba(46, 59, 78, 0.0), rgba(46, 59, 78, 0.8));
          //background: rgba(46, 59, 78, 0.2);
        }
      }
    }
    &.tag-teal {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-teal;
      }

      p {
        color: $pepper-teal;
      }
    }
    &.tag-red {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-red;
      }

      p {
        color: $pepper-red;
      }
    }
    &.tag-blue {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-blue;
      }

      p {
        color: $pepper-blue;
      }
    }
    &.tag-light-blue {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-light-blue;
      }

      p {
        color: $pepper-light-blue;
      }
    }
    &.tag-gold {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-gold;
      }
      p {
        color: $pepper-gold;
      }
    }
    &.tag-yellow {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-yellow;
      }

      p {
        color: $pepper-yellow;
      }
    }
    &.tag-green {
      @include breakpoint($desktop) {
        border-bottom: 4px solid $pepper-green;
      }

      p {
        color: $pepper-green;
      }
    }
    span {
      position: absolute;
      width: 96px;
      height: 96px;
      overflow: hidden;
      top: 1px;
      @include breakpoint($desktop) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      img {
        width: 210%;
        max-width: 210%;
        left: -52%;
        position: absolute;
        @include breakpoint($desktop) {
          left: -60%;
        }
      }
    }
  }
  h2, p {
    position: absolute;
    @include calc( width, '100% - 96px');
    @include breakpoint($desktop) {
      left: 24px;
      width:90%;

    }
  }
  h2 {
    font-size: 1.4rem;
    z-index: 2;
    overflow: hidden;
    @include breakpoint($desktop) {
      height: 133px;
    }
    @include breakpoint(0 959px) {
      position:relative;
      font-size: 1.3rem;
      margin-left:110px;
      width:auto;
    }
    @include breakpoint($desktop) {
      color: #fff;
      padding-right: 24px;
      top: 24px;
      @include text-shadow(#000 1px 1px 1px);
    }
  }
  p {
    font-family: $fontfamilyHM;
    bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    z-index: 2;
    font-size: 0.8rem;
    @include breakpoint(0 959px) {
      padding-top: 10px;
      position:relative;
      margin-left: 110px;
    }
    @include breakpoint($desktop) {
      padding-bottom: 15px;
    }
  }
}