// External libraries
@import "susy";
@import "breakpoint";

// Core
@import "../core/grid-960";
@import "../core/mixins";
@import "../vendors/prism";

$pepper-red           :   #df0024;

//Holy grail layout
.holy-grail {
    position: relative;
    display: table;
    width: 100%;
    > article, > aside {
        display: table-cell;
        margin-top: 60px;
    }
    > aside {
        @include span(2 of 12 0);
        position: relative;
        top:0px;
        .ui-components {
            position: fixed;
            top:60px;
            left:0;
            height:calc(100% - 120px);
            overflow-y:scroll;
            width:200px;
            max-width:25%;
            a {
                display:inline-block;
                padding:20px;
                background-color:#2f3d4a;
                color:#fff;
                @include transition(background-color 0.5s ease-in-out);
                margin-bottom: 1px;
                width:100%;
                &:hover, &.active {
                    background-color: lighten($pepper-red, 8);
                }
            }
        }
    }
    > article {
        @include span(10 of 12 0);
        position: relative;
        .app-header, .desktop-nav {
         position: absolute !important;
         @include breakpoint(960px) {
           position: absolute !important;
         }
        }
        .desktop-nav {
         @include breakpoint(960px) {
           margin-top: -30px;
         } 
        }
        .nav-main .level-three {
            position: absolute;
        }
        .display-area {
            min-height: 60px;
            height: auto;
            @include clearfix;
        }
   
    } //article
    > article > pre {
        margin:40px auto;
        @include container;
        @include clearfix;
    }
    > header, > footer {
        position: fixed;
        left: 0;
        height: 60px;
        max-height: 60px;
        width: 100%;
        z-index: 9999;
    }
    > header {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        color: #fff;
        h1 {
            font-size: 1.4rem;
            @include vertical-align;
            padding-left: 25px;
        }
    }
    //header
    > footer {
        bottom: 0;
        background-color: #666;
    }
}